<h2>Excel Dosyası Yükleme</h2>

@using (Html.BeginForm("ImportExcel", "AdminHome", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="excelFile" />
    <button type="submit">Excel Yükle</button>
}