@using Read_Excel_File.Areas.Client.ViewModels.Models;
@model List<ModelListItemViewModel>

 @foreach (var item in Model)
{
    <div class="col-lg-3">
        <div class="card mb-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@item.Id   @item.Name</h5>

                <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                    <div class="btn-num-product-down btn-minus cl8 hov-btn3 trans-04 flex-c-m">
                        <i class="fs-16 zmdi zmdi-minus"></i>
                    </div>

                    <input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="1">

                    <div class="btn-num-product-up btn-plus cl8 hov-btn3 trans-04 flex-c-m">
                        <i class="fs-16 zmdi zmdi-plus"></i>
                    </div>
                </div>
                <a href="#" class="btn btn-primary">Add</a>
            </div>
        </div>
    </div>
}
