@using Read_Excel_File.Areas.Client.ViewModels.Models;
@model List<ModelListItemViewModel>

 @foreach (var item in Model)
{
    <div class="col-lg-3">
        <div class="card mb-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@item.Id   @item.Name</h5>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
}
